* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0,0,0,0.05);
}

.content {
  min-height: calc(100vh - 152px - 228.8px);
  padding: 12px 0;
}
.money {
  color: red;
}